body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: sans-serif;
}
* {
	outline: none;
}
*.center {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
div#left {
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: 100%;
	
	background-color: #dbf8ff;
	box-shadow: 0 0 5px 5px #bbbbbb;
}
iframe {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	
	z-index: -1;
	border: 0;
}
section#nav {
	list-style: none outside none;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	box-shadow: -2px 0 2px 2px #cccccc;
}
	section#nav p {
		background-color: #bcf2ff;
		height: 30px;
		padding: 0;
		margin: 0;
		line-height: 30px;
		border-right: none;
		color: #000;
	}
	section#nav hr {
		padding: 0;
		margin: 0;
		height: 0px;
		border: 1px solid #cccccc;
		background-color: #cccccc;
		color: #cccccc;
	}
	section#nav a {
		text-decoration: none;
	}
		section#nav a:hover:before {
			content: url('../images/arrowRight.png');
			position: absolute;
			margin-left: 75px;
		} /* !ie only */
p#caption {
	position: absolute;
	bottom: 8px;
	padding: 0;
	margin: 0;
	font-size: 10px;
}