html,body{margin:0;padding:0;border:none;height:100%;width:100%;}body{font:1.0em/1.25 Arial,Helvetica,Sans-Serif;}p,th,td,li,dd,dt,ul,ol,q,acronym,abbr,a,input,select,textarea,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}blockquote{margin:1.25em;padding:1.25em;}q {font-style:italic;}acronym,abbr{cursor:help;border-bottom:1px dashed #000;}small{font-size:.85em;}big {font-size:1.2em;}a,a:link,a:visited,a:active,a:hover{text-decoration:none;outline:none;}img{border:none;outline:none;}table {margin:0;padding:0;border:none;}form {margin:0;padding:0;display:inline;}label{cursor:pointer;}.clear{clear:both;}.floatLeft{float:left;}.floatRight{float:right;}.textLeft{text-align:left !important;}.textRight{text-align:right !important;}.textCenter{text-align:center !important;}.textJustify{text-align:justify !important;}.center{text-align:center;margin-left:auto;margin-right:auto;}.bold{font-weight:bold;}.italic{font-style:italic;}.underline{text-decoration:underline;}.noindent {margin-left:0;padding-left:0;}.nomargin {margin:0;}.nopadding {padding:0;}.nobullet{list-style:none;list-style-image:none;}.centerself{margin-left:auto;margin-right:auto;}
@import url("mobile.css") handheld;
@import url("mobile.css") only screen and (min-width : 321px);
a {color: #333 !important;}
body {
	margin: 0; padding: 0;	
	font-family: helvetica, arial, sans-serif;
	background-color: #f3f3f3;
	color: #444;
}
div#header {
	background-color: #edd4af;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	box-shadow: 0 2px 0 #ddd;
	padding-left: 10px;
}
div#navbuttons {
	text-align: right;
	margin: 0 0 0 auto;
	width: auto;
}
img#sharebutton {
	float: right;
	height: 44px;
	padding: 3px 10px 3px 0;
}
section.post {
	margin: 20px 0;
	background-color: #fff;
	box-shadow: 0 0 1px 1px #ddd; 
	position: absolute;
	height: auto;
	position:absolute;
	width: 100%;
	min-height: 150px;
	}
img.titleimage {
	width: 120px;
}
section.post section:nth-child(1) {
	position: absolute;
	width: 120px;
	background-color: #f8f8f8;
	box-shadow: 2px 0 1px #ddd;
	text-align: center;
	height: inherit;
	left: 0;
	left:0;
	position:absolute;
	height:100%;
}
section.post section:nth-child(2) {
	padding-left: 128px;
}
/*
	.clear { clear: both; }
	.floatLeft { float: left; }
	.floatRight { float: right; }
	.textLeft { text-align: left; }
	.textRight { text-align: right; }
	.textCenter { text-align: center; }
	.textJustify { text-align: justify; }
	.center { text-align: center; margin-left: auto; margin-right: auto; }
	.bold { font-weight: bold; }
	.italic { font-style: italic; }
	.underline { text-decoration: undeerline; }
	.noindent { margin-left: 0; padding-left: 0; }
	.nomargin { margin: 0; }
	.nopadding { padding: 0; }
	.nobullet { list-style: none; list-style-image: none; };
*/