body {
	height: 100%;
	width: 100%;
	background-color: #252525;
	color: #fff;
	font-family: arial;
	margin:0;
}
div.modal {
	margin: auto;
	position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	width: 50%;
	height: 50%;
	background-color: #777;
	box-shadow: 0 0 20px 10px #000;
	display: none;
	padding: 8px;
	overflow-y: auto;
}
	div.modal * {
		margin: 0;
		padding: 0;
	}
	div.modal hr {
		border: 1px solid #fff;
		margin-bottom: 5px;
	}
	div.modal h1 {
		font-size: 45px;
	}
	div.modal p {
		font-size: 25px;
	}
input[type="button"] {
	padding: 5px;
	background-color: #bbb;
	border: 2px solid #111;
	border-radius: 5px;
	cursor: pointer;
	margin: 30px auto;
}
	input[type="button"]:hover {
		position: relative;
		top: 1px;
	}
div#content {
	display: none;
	padding: 0;
	margin: 8px;
}
div#content2 {
	display: none;
	padding: 0;
	margin: 8px;
}
div.centre {
	margin: 0 auto;
	text-align: center;
}
canvas {
	border: 1px solid #fff;
	background-color: #999;
}